bot:
  token: YOUR-BOT-TOKEN
  prefix: BOT-PREFIX (This will be removed soon, due to slash commands)
  bonus_cooldown: 2 //Bonus every x hours
  test_server_id: ID-OF-YOUR-TEST-SERVER //for the sync command
  bug_channel_id: ID-OF-THE-BUG-REPORTS-CHANNEL //for the /bug command
  feedback_channel_id: ID-OF-THE-FEEDBACK-CHANNEL //for the /feedback command