bot:
  token: 
  bonus_cooldown: INT IN HOURS
  bot_color: COLOR IN HEX FOR THE BOT EMBEDS
  bug_channel_id: BUG CHANNEL ID (/bug)
  feedback_channel_id: FEEDBACK CHANNEL ID (/feedback)
  apikey: API KEY FOR CRYPTOCOMPARE
  username: 
  password: 
  host: 
  port: 
  database: 
  spotify_id: IN ORDER TO PLAY
  spotify_secret: SPOTIFY SONGS